section.section {
    margin: 0px 0;
}
.custom-img-about {
    right: 0;
    top: 12%;
}

.google-map{
    margin: 0 0px;
}
.dropdown-item:hover{
    background-color: #3079BE!important;
    color:white!important;
}

@media (max-width: 991px){
.custom-img-about {
    max-width: 45%;
}
.margin-mobile{
    margin-top: 10px!important;
}
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a.active {
    background-color: #eb8a3e!important;
    color:aliceblue!important;
}
.text-color-thick{
    /* color:#0c2c41; */
    color:#eb8a3e;
}
.flip-content p {
    overflow: hidden;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 7!important;
    -webkit-box-orient: vertical;
}

.flip-content img{
    margin: 0 0 15px;
    max-width: 120px;
    max-height: 70px;
}
.bg-high{
    background-color: #ee8a32!important;
}
.bg-high-grey{
    background-color: #f2f2f2!important;
}
.text-brand{
    color: #eb8a3e!important;
}


/* @media (min-width: 992px){
#header .header-nav-main nav > ul > li:hover > a {
    background-color: #eb8a3e!important;
}
} */

.text-equal{
    text-align: justify!important;
}

html .btn-second{
background-color:  #f26d07!important;
    border-color:  #f26d07 ;
    color: #FFF;
    --color: #f26d07 !important;
    --hover: #f26d07 !important;
    --disabled:  #f26d07!important;
    --active:  #f26d07;
}

/* .scroll-to-top {
    display: none !important;
} */